<!DOCTYPE html>
<html lang="en" >
<head>
	{% block front %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ user.name }}</title>
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
	{% endblock %}
</head>
<body>
	{% block header %}
	<div class="header">
		<a href="{{ url_for('home') }}" class="logo">Homepage</a>
		<ul class="navigation">
			<li><a href="#banner">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#skills">Skills</a></li>
			<li><a href="#photos">Photos</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>
	{% endblock %}

	{% block main %}{% endblock %}

	{% block footer %}
	<div class="footer">
		<div class="copyright">
		  <p>Copyright © 2021 Yann. All Right Reserved.</p>
		</div>
	</div>
	{% endblock %}
</body>
</html>
